# Worked for MacOS Python 3.11.3
# Need `brew install ta-lib` for TA-Lib
# See https://github.com/TA-Lib/ta-lib-python#dependencies for others.

tensorflow<3
tensorflow-macos
tensorflow-metal
keras==2.15.0
scikit-learn
pandas
numpy
imbalanced-learn
TA-Lib
matplotlib
openpyxl
binance
shap
